body {
    background-color: #000c3f; // dark blue
    font-family: 'Gilroy', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* header */
  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu{
    padding: 40px 0;
    position: static;
    height: 5px;
  }
  
  .menu-list {
    list-style: none;
    display: flex;
  }
  .menu-item {
    margin-right: 88px;
  }
  .menu-item a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
  }
  .menu-item a:hover {
    border-bottom: 2px solid white;
  }
  
  .menu-item ul li {
    list-style: none;
    position: relative;
  }
  .menu-item ul li button {
    background: none;
    list-style: none;
    font-size: 18px;
    display: none;
    position: absolute;
    right: 30px;
  }
  .button-logaut{
    display: none;
  }
  .menu-item ul li button:hover {
    color: burlywood;
  }
  .burger-user{
    display: none;
  }
  
  .menu-item:hover > ul li button {
    display: inherit;
  }
  .menu-button{
    display: none;
  }
  .sidebar-button{
    display: none;
  }
  @media(max-width: 742px){
    .sidebar{
      display: none;
    }
    .sidebar-button{
      display: flex;
      width: auto;
      position: static;
      align-items: center;
    }
    .home{
      .container{
        &.open{
          .sidebar{
            display: block;
          }
          .chat{
            display: none;
          }
        }
      }
    }
    
    .menu{
        position: fixed;
        top: 0;
        left: -227px;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow: visible;
        width: 220px;
        height: 100%;
        color: #000c3f;
        background-color: white;
        border: 2px solid #000c3f;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        transition: transform 0.3s linear;
        &.active{
            transform: translateX(100%);
        }

        .burger-user{
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 40px;
          color: #00b4d8;
        }

        .menu-list{
            flex: 1;
            display: flex;
            flex-direction: column;
            
        }
        .menu-item{
            margin: 10px 0;
            font-weight: 500;
            color: #000c3f;
            &.user{
              display: none;
            }
        }
        .menu-item a{
            margin: 10px 0;
            font-weight: 500;
            color: #000c3f;
        }
        .button-logaut{
            display: block;
            font-size: 24px;
            bottom: 0;
            position: absolute;
            text-decoration: solid;
            font-weight: 500;
            color: #000c3f;
        }
        .menu-item:nth-child(n+2){
            margin-left: 0px;
        }
        .menu-button{
            display: block;
            margin-left: auto;
            height: 24px;
            top: 0;
            right: 0;
            padding: 0;
            position: fixed;
        }
    }
  }
  
  .container-log {
    display: grid;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 500px;
    padding-bottom: 150px;
  }
  
  .login-container {
    background: #a2d2ff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #ff6b81; // darker box-shadow color
    width: 100%;
    color: white;
    margin-top: 30px;
  
    h3 {
      font-size: 25px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  
  .input-group {
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='date'],
  input[type='password'] {
    width: 95%;
    padding: 10px;
    border: 2px solid #003087; // darker border color
    border-radius: 5px;
    font-size: 16px;
    color: black;
    transition: border-color 0.3s;
  
    &:focus {
      border-color: #007bff;
    }
  }
  .role{
    margin-left: 10px;
    background: transparent;
    font-size: 14px;
    color: blue;
    border: none;
  }
  textarea {
    width: 95%;
    padding: 10px;
    border: 2px solid #003087;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    transition: border-color 0.3s;
    resize: vertical; /* allow vertical resizing */
    overflow-y: auto; /* add a scrollbar when content overflows height */
  
    &:focus {
      border-color: #007bff;
    }
  }
  
  button {
    
    width: 100%; 
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  .aut-reg {
    font-size: 18px;
  
    a {
      margin-left: 5px;
      color: blue;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s;
  
      &:hover {
        color: #007bff;
      }
    }
  }
  .home {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  
    .container {
      border: 1px solid darkblue;
      background-repeat: 10px;
      width: 65%;
      height: 80%;
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      .sidebar {
        flex: 1;
        background-color: #00b4d8;
  
        .search {
          border-bottom: 1px solid darkblue;
  
          .searchForm {
            padding: 15px;
  
            input {
              background-color: transparent;
              border: none;
              color: white;
              outline: none;
  
              &::placeholder {
                color: white;
              }
            }
          }
        }
  
        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 24px;
          cursor: pointer;
  
          &:hover {
            background-color: lightgray;
          }
  
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .userCharInfo {
            spam {
              font-size: 18px;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 150px;
            }
  
            p {
              font-size: 14px;
              color: burlywood;
            }
          }
        }
      }
  
      .chat {
        flex: 2;
  
        .chatInfo {
          height: 50px;
          padding: 10px;
          background-color: #00b4d8;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;
          font-size: 24px;

          .menu-button{
            width: 24px;
            height: 24px;
            display: block;
            padding: 0;
            background: transparent;
          }
        }
  
        img {
          height: 24px;
          width: 24px;
          cursor: pointer;
        }
  
        .messages {
          background-color: lightgray;
          padding: 10px;
          height: calc(100% - 160px);
          overflow-y: scroll;
          flex-shrink: 0;
  
          &::-webkit-scrollbar {
            width: 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }
  
          &:hover::-webkit-scrollbar {
            width: 8px;
            opacity: 1;
          }
  
          &:hover::-webkit-scrollbar-thumb {
            background-color: #00b4d8;
            border-radius: 10px;
            display: inline;
          }
  
          .message {
            display: flex;
            gap: 20px;
            
  
            .massageInfo {
              display: flex;
              flex-direction: column;
              color: grey;
              font-weight: 300;
  
              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
              }
            }
  
            .massageContent {
              max-width: 80%;
              display: flex;
              flex-direction: column;
              gap: 10px;
  
              p {
                background-color: white;
                padding: 10px 20px;
                color: black;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
                flex-direction: row-reverse;
                white-space: pre-wrap;
                word-break: break-word;
                max-height: 150px;
                overflow-y: auto;
              }
            }
  
            &.owner {
              flex-direction: row-reverse;
  
              .massageContent {
                align-items: flex-end;
  
                p {
                  background-color: #00b4d8;
                  color: black;
                  border-radius: 10px 0px 10px 10px;
                  display: flex;
  
                  img {
                    align-items: center;
                    justify-content: center;
                  }
                }
  
                a {
                  margin-left: 10px;
                }
              }
            }
          }
        }
  
        .input {
          height: 50px;
          background-color: #a2d2ff;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          .input {
            width: 100%;
            border: none;
            outline: none;
            color: slateblue;
            font-size: 18px;
            resize: vertical;
            overflow-y: auto;
  
            textarea {
              height: 50px;
              min-height: 50px;
              max-height: 150px;
              padding: 10px;
              box-sizing: border-box;
              border-radius: 5px;
            }
  
            &::placeholder {
              color: lightblue;
            }
          }
  
          .send {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 10px;
  
            button {
              background-color: #00b4d8;
            }
          }
        }
      }
    }
  }
  